<div class="expense-container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column justify-content-between">
      <h1>{{ "ALL_SUBSCRIPTIONS" | translate }} ... 🎟️</h1>
      <input
        type="text"
        placeholder="ابحث عن اشتراك... 🔍"
        class="search-input mt-4"
        [(ngModel)]="searchQuery"
        (input)="searchSubscription(searchQuery)"
      />
    </div>
    <div>
      <button class="dialog-button" (click)="openCreateDialog()">
        + {{ "CREATE_SUBSCRIPTION" | translate }}
      </button>
    </div>
  </div>
</div>

<!-- Table with loading overlay -->
<div class="table-container position-relative">
  <div *ngIf="isLoading" class="table-loader-overlay">
    <div class="spinner-container d-flex justify-content-center mb-5">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  </div>

  <app-data-table
    [displayedColumns]="[
      'SUBSCRIPTION_NAME',
      'HOURS',
      'INSTANCE_DURATION',
      'PRICE',
      'SOLD_UNITS',
      'IS_ACTIVE',
      'CREATABLE_IN_BRANCHES',
      'USABLE_IN_BRANCHES'
    ]"
    [data]="filteredSubscriptions"
    (editClicked)="openEditDialog($event)"
    [class.loading-state]="isLoading"
  ></app-data-table>
</div>
