<!-- main-page.component.html -->
<div class="main-page">
  <h1 class="mb-5 mt-5">{{ "DASHBOARD" | translate }} ... 📊</h1>

  <div class="widgets-container">
    <div
      class="widget-card"
      *ngFor="let item of data"
      [ngStyle]="{
        background: item.gradient
      }"
    >
      <div
        class="widget-content d-flex align-items-center justify-content-between p-3"
      >
        <div class="widget-info">
          <div class="fw-bold widget-title">{{ item.title | translate }}</div>
          <div class="fw-bold widget-value">{{ item.value }}</div>
          <div class="small widget-subtext">{{ item.subtext }}</div>
        </div>
        <div
          class="icon-circle mb-2 d-flex align-items-center justify-content-center"
        >
          {{ item.icon }}
        </div>
      </div>
    </div>
  </div>
</div>
