<h1 class="my-4">{{ "CHILDREN" | translate }} ... 🧒</h1>
<div class="d-flex justify-content-between align-items-center">
  <div class="position-relative d-inline-block">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="getChildrenData(searchTerm)"
      placeholder="ابحث عن طفل... 🔍"
      class="search-input mt-4"
    />
    <mat-spinner *ngIf="searchLoading" diameter="20" class="search-field-spinner"></mat-spinner>
  </div>
  <button (click)="openCreateChildDialog()" class="create-btn">
    + {{ "CREATE" | translate }}
  </button>
</div>
<app-data-table
  [displayedColumns]="['CHILD_NAME', 'AGE', 'PHONE_NUMBER', 'HAS_ACTIVE_SUBSCRIPTION', 'STATUS']"
  [data]="myTableData"
  (itemClicked)="goToChildProfilePge($event.ID)"
  (editClicked)="editChild($event)"
  [paginationType]="'server'"
  [totalItems]="totalChildren"
  [perPage]="perPage"
  [pagesCount]="pagesCount"
  (pageChange)="getChildrenData(searchTerm, $event)"
  [currentPage]="currentPage"
></app-data-table>
