<div class="expense-container mt-4">
  <h3>{{ "ALL_ACTIVE_CHILD_BILLS" | translate }} ... 🟢</h3>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column justify-content-between">
      <input
        type="text"
        placeholder="ابحث عن فاتورة... 🔍"
        class="search-input mt-4"
        [(ngModel)]="searchQuery"
        (input)="searchExpense(searchQuery)"
      />
      <div
        class="d-flex justify-content-start align-items-center mt-4"
        *ngIf="userInfo?.role === 'admin' || userInfo?.role === 'owner'"
      >
        <app-branch-multi-select
          (selectedBranchesChange)="onBranchSelectionChange($event)"
        ></app-branch-multi-select>

        <!-- <mat-form-field appearance="fill" class="mx-3">
          <mat-label>{{ "SELECT_DATE_RANGE" | translate }}</mat-label>

          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              [placeholder]="'START_DATE' | translate"
              (dateChange)="onStartDateChange($event.value)"
            />
            <input
              matEndDate
              [placeholder]="'END_DATE' | translate"
              (dateChange)="onEndDateChange($event.value)"
            />
          </mat-date-range-input>

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field> -->
      </div>
    </div>
    <div>
      <button class="dialog-button" (click)="openCreateBillDialog()">
        + {{ "CREATE" | translate }}
      </button>
    </div>
  </div>
</div>

<app-data-table
  [displayedColumns]="[
    'NAME',
    'PHONE_NUMBER',
    'SPENT_TIME',
    'CHILDREN_COUNT',
    'BRANCH'
  ]"
  [isActiveBills]="true"
  [data]="billsRes"
  (itemClicked)="goToBillProfile($event)"
  (editClicked)="openCloseBillDialog($event)"
  (promoClicked)="openPromoDialog($event)"
></app-data-table>
