@import "../../styles/colors.scss";

.branch-dropdown {
  width: 100%;
  min-width: 300px;

  button[mat-icon-button] {
    margin-left: 4px;
    color: #888;

    &:hover {
      color: #f44336; // red on hover
    }
  }

  // Tablet breakpoint
  @media (max-width: 992px) {
    min-width: 0;
  }

  // Mobile breakpoint
  @media (max-width: 768px) {
    min-width: 0;
  }
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background-color: $button-color;
}
