<mat-sidenav-container class="sidenav-container d-flex">
  <!-- Sidebar -->
  <mat-sidenav
    [mode]="'side'"
    [opened]="true"
    [class.collapsed]="sidebarCollapsed"
    class="sidenav"
  >
    <div class="logo-container" [class.logo-container-collapsed]="sidebarCollapsed">
      <img
        src="../../../../assets/png/logo-01.png"
        [class.logo-collapsed]="sidebarCollapsed"
        class="sidenav-logo"
        alt=""
      />
    </div>

    <!-- Sidebar content wrapper -->
    <div class="sidenav-content-wrapper mb-5">
      <app-side-nav [collapsed]="sidebarCollapsed"></app-side-nav>
    </div>

    <!-- Fixed Logout Section -->
    <div class="logout-fixed-wrapper">
      <hr />
      <button (click)="logOUt()" mat-button class="logout-button">
        <mat-icon color="warn">logout</mat-icon>
        <span *ngIf="!sidebarCollapsed">{{ "LOGOUT" | translate }}</span>
      </button>
    </div>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content [class.expanded]="sidebarCollapsed">
    <mat-toolbar class="top-toolbar">
      <button mat-icon-button (click)="toggleSidebar()" class="menu-toggle-btn">
        <mat-icon color="accent">menu</mat-icon>
      </button>
      <img src="../../../../assets/png/avatar.png" alt="" />
      <span class="welcome-text"
        >{{ "WELCOME" | translate }} , {{ userInfo.username }} !</span
      >
      <span class="spacer"></span>
      <p>🌿{{ "BRANCH" | translate }} :</p>
      <button
        (click)="openBranchDialog()"
        class="branch-btn d-flex align-items-center mx-2 mb-3"
      >
        <mat-icon>arrow_drop_down</mat-icon>
        {{ branch.name }}
      </button>
      <span class="spacer"></span>
      <div *ngIf="userInfo.role == 'reception'">
        <button class="btn mx-4 mb-3" (click)="makeOrder()">
          <i class="animation"></i>
          🛒 {{ "Create_order" | translate }}<i class="animation"></i>
        </button>
      </div>
      <p class="mx-1" *ngIf="userInfo.role != 'waiter'">
        📅 {{ currentDate | date : "fullDate" }}
      </p>
      <div *ngIf="userInfo.role == 'waiter'">
        <button class="btn mx-4 mb-3" (click)="makeOrder()">
          <i class="animation"></i>
          🛒 {{ "Create_order" | translate }}<i class="animation"></i>
        </button>
      </div>
      <p>{{ clockEmoji }} {{ currentDate | date : "shortTime" }}</p>
    </mat-toolbar>

    <div class="m-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
