<div class="d-flex justify-content-center my-4">
  <app-print-btn></app-print-btn>
</div>

<div class="bill-container" *ngIf="bill; else loading">
  <h1 class="bill-title">🧾 {{ "BILL_DETAILS" | translate }}</h1>
  <h6 *ngIf="!bill.is_allowed_age" class="text-danger bill-title">
    {{ "COMPANION_REQUIRED" | translate }}
  </h6>
  <div class="bill-card">
    <!-- Children Count -->
    <div class="bill-row" *ngIf="bill.children?.length">
      <span>👨‍👩‍👧 {{ "CHILDREN_COUNT" | translate }}:</span>
      {{ bill.children.length }}
    </div>

    <!-- Children Info -->
    <div *ngFor="let child of bill.children" class="bill-row">
      <div style="width: 100%">
        <div>
          <strong>👶 {{ child.name }}</strong>
        </div>
        <div *ngFor="let phone of child.phone_numbers">
          📞 {{ phone.phone_number }} <small>({{ phone.relationship }})</small>
        </div>
      </div>
    </div>

    <!-- Spent Time -->
    <div class="bill-row">
      <span>⏱️ {{ "SPENT_TIME" | translate }}:</span>
      {{ getSpentTimeFormatted(bill.spent_time) }}
    </div>

    <!-- Payment Methods -->
    <div class="bill-row" *ngIf="bill.visa > 0">
      <span>💳 Visa:</span> {{ bill.visa }} EGP
    </div>
    <div class="bill-row" *ngIf="bill.cash > 0">
      <span>💵 Cash:</span> {{ bill.cash }} EGP
    </div>
    <div class="bill-row" *ngIf="bill.instapay > 0">
      <span>📲 Instapay:</span> {{ bill.instapay }} EGP
    </div>

    <!-- Subscription -->
    <div class="bill-row">
      <span>📝 {{ "IS_SUBSCRIPTION" | translate }}:</span>
      {{ bill.is_subscription ? ("YES" | translate) : ("NO" | translate) }}
    </div>

    <!-- Discount -->
    <div class="bill-row" *ngIf="bill.discount_value > 0">
      <span>🏷️ {{ "DISCOUNT" | translate }}:</span>
      {{ bill.discount_value }} {{ bill.discount_type || "" }}
    </div>

    <!-- Money Unbalance -->
    <div class="bill-row" *ngIf="bill.money_unbalance > 0">
      <span>⚖️ {{ "REST" | translate }}:</span>
      {{ bill.money_unbalance }} EGP
    </div>

    <div class="bill-row">
      <span>🕒 {{ "HOUR_PRICE" | translate }}:</span>
      {{ bill.hour_price }}
    </div>
    <div class="bill-row">
      <span>🕒 {{ "HALF_HOUR_PRICE" | translate }}:</span>
      {{ bill.half_hour_price }}
    </div>

    <!-- Finished Time -->
    <div class="bill-row">
      <span>✅ {{ "ENTER_AT" | translate }}:</span>
      {{ bill.created | date : "short" }}
    </div>
    <div class="bill-row" *ngIf="bill.finished">
      <span>✅ {{ "EXIT_AT" | translate }}:</span>
      {{ bill.finished | date : "short" }}
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="loading">⏳ {{ "LOADING" | translate }}</p>
</ng-template>
